body{
	background-color:#333333;
	background-image: url("../images/backgroundsvg/Mountains.svg");
	background-repeat: no-repeat;
	background-size: fill;
	background-position-x: center;
	height:2000px;
	
	text-align: center;
}

@font-face{
	font-family: "palanquinExtraLight";
	src: url("palanquin-extralight.ttf");
}

h1{
	font-family: "palanquinExtraLight";
}

#container{
	width: 90%;
	margin: auto;
}

img{
	padding: 20px;
}